<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head.ejs') %>
</head>

<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h2>Details of Book: </h2>
    <ul>
      <div class="bookboxes">
        <li>
          <img src="<%= book.image_url %>" alt="<%= book.title %>">
        </li>
        <li class="textbody" id="author">
          <%= book.author %>
        </li>
        <li class="textbody" id="description">
          Description: <%= book.description %>
        </li>
        <li class="textbody" id="description">
          ISBN: <%= book.isbn %>
        </li>
      </div>
      <form action="/update/<%= book.id %>?_method=PUT" method="post">

        <input name="title" value="<%= book.title %>">
        <input name="image" value="<%= book.image %>">
        <input name="author" value="<%= book.author %>">
        <input name="description" value="<%= book.description %>">
        <input name="isbn" value="<%= book.isbn %>">
        <button type="submit">Update this Book on your bookshelf!</button>
      </form>
      <button type="submit"> Update Book!</button>
      <a href="../update/<%= book.id %>"">Update Book</a>
      <a href=" ../">Delete Book</a>
    </ul>
    <!-- <form action="../update/<%= book.id %>">
      <input type="submit" value=" Click Here to Update this Book on your bookshelf!" />
    </form>
    <form action="../delete/<%= book.id %>">
      <input type="submit" value="WARNING: DELETE this Book from your bookshelf!" />
    </form> -->
    <a href="../">Your Bookshelf Home</a>
  </main>
</body>

</html>